<app-loading *ngIf="loading"></app-loading>

<div class="container" *ngIf="!loading">
  <h2 class="title">🏰 Game of Thrones Houses</h2>

  <div *ngIf="houses.length === 0" class="no-houses">
    <p>No houses found.</p>
  </div>

  <table class="house-table" *ngIf="houses.length > 0">
    <thead>
      <tr>
        <th>House Name</th>
        <th>Title</th>
        <th>Region</th>
        <th>Words</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let house of houses">
        <td>{{ house.name || 'Unnamed House' }}</td>
        <td>{{ house.titles[0] || 'None' }}</td>
        <td>{{ house.region || 'Unknown' }}</td>
        <td>{{ house.words || 'No words' }}</td>
        <td>
          <div class="button-container">
            <button (click)="goToDetail(house.url)">View Details</button>
          </div>
          
        </td>
      </tr>
    </tbody>
  </table>
</div>
