.container {
  padding: 1rem;
  background-color: #ffffff;
  min-height: 100vh;
}

.title {
  text-align: center;
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
  color: #2c3e50;
  font-weight: bold;
  position: relative;
}

.no-houses {
  text-align: center;
  margin-top: 2rem;
  font-size: 1.1rem;
  color: #555;
}

.house-table {
  font-size: 0.8rem;
  width: 100%;
  border-collapse: collapse;
}

.house-table th,  
.house-table td {
  border: 1px solid #ddd;
  padding: 5px;
  text-align: left;
}

.house-table th {
  background-color: #f2f2f2;
  color: #333;
}

.house-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.button-container {
  display: flex;
  justify-content: center;
  /* margin-top: 0.5rem; */
}

button {
  background-color: #495058;
  color: white;
  width: 100px;
  border: none;
  padding: 0.5rem 0.1rem;
  border-radius: 6px;
  cursor: pointer;
}

button:hover {
  background-color: black;
  color: white; /* optional: improves readability */
}
